/* Section Banner Images */
.background {
  height: 30%;
  min-height: $img-bg-mh;
  width: 100%;
  // box-shadow: 0 2px 2px white inset, 0 -2px 2px white inset;
  
  &--start {
    background: url(../assets/bg-start.jpg) center 30% / cover no-repeat;
  }

  &--density {
    background: url(../assets/bg-density.jpg) center 60% / cover no-repeat;
    // box-shadow: 0 -2px 2px white inset;
  }

  &--climate {
    background: url(../assets/bg-weather.jpg) center 50% / cover no-repeat;
  }

  &--activity {
    background: url(../assets/bg-activity.jpg) center center / cover no-repeat;
  }
}
/* /Section Banner Images */

@media (min-width: $large-screen) {
  // .background--start {
  //   height: 40%;
  // }
}