// SASS Variables
$tablet: 600px;
$desktop: 968px;
// $text-border: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black

// CSS Variables
:root {
  --body-bg-color: whitesmoke;//#18314F;
  --section-bg-color: white;
  --header-color: #384E77;
  --text-color: black;
  --link-color: #3C6E71;
  --link-hover-color: #F46036;
  --button-color: black;
  --button-select-color: #F46036;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  font-size: 1.8rem;
  font-family: 'Lato', sans-serif;
  color: var(--text-color);
  background: var(--body-bg-color);
}

h1,h2,h3,h4,h5,h6,legend {
  color: var(--header-color);
  font-family: 'Arvo', serif;
  font-weight: bold;
  font-size: 2.6rem;
}

p {
  margin-bottom: 0;
}

.noselect {
  user-select: none;
}

.hide {
  display: none;
}

/* Button Styles */
.shelter {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  background: var(--section-bg-color);

  & .init-submit {
    position: relative;
    z-index: 1;
    opacity: 1;
    transition: opacity 1s;
    border: 0;
    border-radius: 5px;
    padding: 5px 50px;
  }

  & .fallout {
    z-index: -1;
    opacity: 0;
  }
}
/* /Button Styles */

/* Background Images */
.background {
  height: 30%;
  width: 100%;
  
  &--start {
    background: url(https://source.unsplash.com/random/1000x500) center / cover no-repeat;
  }

  &--density {
    background: url(https://source.unsplash.com/random/1000x501) center / cover no-repeat;
  }

  &--climate {
    background: url(https://source.unsplash.com/random/1000x502) center / cover no-repeat;
  }

  &--activity {
    background: url(https://source.unsplash.com/random/1000x503) center / cover no-repeat;
  }
}
/* /Background Images */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70%;

  &--start {
    justify-content: flex-start;
  }

  &--result {
    height: 100%;
    justify-content: flex-start;
  }
}

.wrapper {
  width: 100%;
  min-width: 320px;
  padding: 50px 5%;
}

@media (min-width: $tablet) {

}

@media (min-width: $desktop) {
  .page-wrapper {
    margin: 0 auto;
    max-width: $desktop;
    // box-shadow: 5px 0 50px white,
    //             0 5px 50px white,
    //             -5px 0 50px white,
    //             0 -5px 50px white;
  }

  .wrapper {
    margin: 0 auto;
    max-width: $desktop;
    padding: 80px 8%;
  }
}