html {
  font-size: 62.5%;
}

body {
  min-width: 320px;
  font-size: 1.8rem;
  font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Arvo', serif;
}

.noselect {
  user-select: none;
}

.wrapper {
  width: 100%;
  min-width: 320px;
  padding: 20px 5%;
}

@media (min-width: 968px) {
  .wrapper {
    margin: 0 auto;
    max-width: 968px;
    padding: 40px 10%;
  }
}