// SASS Variables
$tablet: 600px;
$desktop: 968px;

// CSS Variables
:root {
  --text-color: black;
  --body-bg-color: #2c2c2c;
  --question-bg-color: whitesmoke;
  --link-color: dodgerblue;
  --link-hover-color: tomato;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  font-size: 1.8rem;
  font-family: 'Lato', sans-serif;
  color: var(--text-color);
  background: var(--body-bg-color);
}

h1,h2,h3,h4,h5,h6,legend {
  font-family: 'Arvo', serif;
}

.noselect {
  user-select: none;
}

.hide {
  display: none;
}

.wrapper {
  height: 100vh;
  min-height: 500px;
  width: 100%;
  min-width: 320px;
  padding: 20px 5%;
}

@media (min-width: $tablet) {
  .wrapper {
    padding: 40px 10%;
  }
}

@media (min-width: $desktop) {
  .page-wrapper {
    margin: 0 auto;
    max-width: $desktop;
    box-shadow: 5px 0 50px gray,
                0 5px 50px gray,
                -5px 0 50px gray,
                0 -5px 50px gray;
  }

  .wrapper {
    margin: 0 auto;
    max-width: $desktop;
  }
}