.questions {


  & section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    border: none;
    padding: 0;
    
    &.pop-density {
      background: lightblue;
    }

    &.climate {
      background: lightyellow;
    }

    &.activity {
      background: lightgreen;
    }
  }

  & input {
    opacity: 0;
    height: 0;
    width: 0;

    &:checked + label {
      color: tomato;
    }
  }

  & label {
    display: inline-block;
    border: 1px solid tomato;
    cursor: pointer;
  }
}