@mixin input-bg() {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.3;
}

.questions section {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  min-height: $section-mh;
  border: none;
  background: var(--section-bg-color);
}

.question {
  width: 100%;
  padding: 0;
}

.answer-set {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 80%;
  width: 100%;
  margin: auto 0;

  & input {
    position: absolute;
    z-index: -9001;
    opacity: 0;
    height: 0;
    width: 0;
    border: 0;

    &:checked + label {
      @include btn-active-state();
    }
  }

  & label {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 6rem;
    position: relative;
    height: calc((100% - 60px) / 4);
    width: 100%;
    padding: 2%;
    text-align: center;
    @include btn-inactive-state();
    
    & span {
      position: relative;
      z-index: 2;
      font-size: 2rem;
    }
    
    &.urban::after {
      @include input-bg();
      background: url(../assets/urban.jpg) center bottom / cover no-repeat;
    }

    &.suburban::after {
      @include input-bg();
      background: url(../assets/suburban.jpg) center center / cover no-repeat;
    }

    &.rural::after {
      @include input-bg();
      background: url(../assets/rural.jpg) center center / cover no-repeat;
    }

    &.indifferent-density::after {
      @include input-bg();
      background: url(../assets/indifferent-density.jpg) center center / cover no-repeat;
    }

    &:hover {
      @include btn-hover-state();
    }

  }
}

@media (min-width: $tablet) {
  .answer-set label {
    height: calc((100% - 20px) / 2);
    width: calc((100% - 20px) / 2);
  }
}

@media (min-width: $desktop) {
  // .answer-set label {
  //   min-height: 16rem;
  // }
}