.start-here {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  min-height: 500px;
  background: var(--section-bg-color);
}

.start {
  font-size: 4rem;
  color: var(--link-color);
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    color: var(--link-hover-color);
  }
}

.disclaimer {
  margin-top: auto;
  font-size: 1.2rem;
  font-style: italic;
}