/*** Initialize CSS ***/
/** Normalize **/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/** Border-Box **/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/** Clearfix **/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

/** Vincent Custom Style Reset **/
/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin: 0; }

/* Unordered Lists */
ul {
  margin: 0;
  padding: 0;
  list-style: none; }

/* Links */
a {
  color: black;
  text-decoration: none; }

/*** /Initialize CSS ***/
:root {
  --body-bg-color: #6F6F6F;
  --section-bg-color: #FFF;
  --section-shadow-color: #2C2C2C;
  --header-color: #384E77;
  --text-color: #000;
  --link-color: #4B898D;
  --link-hover-color: #F46036;
  --button-color: #000;
  --button-select-color: #F46036; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  min-width: 320px;
  font-size: 1.6rem;
  font-family: "Karla", sans-serif;
  color: var(--text-color);
  background: var(--body-bg-color); }

h1, h2, h3, h4, h5, h6, legend {
  color: var(--header-color);
  font-family: "Maven Pro", serif;
  font-weight: bold;
  font-size: 2.4rem; }

p {
  margin-bottom: 0;
  font-size: 1.6rem; }

a {
  color: var(--link-color);
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s; }
  a:hover {
    color: var(--link-hover-color);
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s; }

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.hide {
  display: none; }

.skip-link {
  position: absolute;
  left: -1000px;
  top: 0;
  z-index: 9999;
  background: white;
  color: black; }
  .skip-link:focus {
    left: 0; }

/* Button Styles */
.shelter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: var(--section-bg-color); }
  .shelter .init-submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 1;
    opacity: 1;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    line-height: 4rem;
    padding: 0 50px;
    cursor: pointer;
    border: 1px solid var(--button-color);
    border-radius: 5px;
    color: var(--button-color);
    -webkit-transition: color 0.2s, border 0.2s;
    -o-transition: color 0.2s, border 0.2s;
    transition: color 0.2s, border 0.2s;
    /* Necessary to specify otherwise flex-wrap gets animated on resize and it looks ugly */ }
    .shelter .init-submit:hover {
      color: var(--button-select-color); }
    .shelter .init-submit:focus, .shelter .init-submit:active {
      color: var(--button-select-color);
      border: 1px solid var(--button-select-color);
      -webkit-transition: color 0.2s, border 0.2s;
      -o-transition: color 0.2s, border 0.2s;
      transition: color 0.2s, border 0.2s;
      /* Necessary to specify otherwise flex-wrap gets animated on resize and it looks ugly */
      outline: none; }
  .shelter .fallout {
    z-index: -1;
    opacity: 0; }

/* /Button Styles */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 70%;
  min-height: 380px; }
  .container--start, .container--result {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 100%; }

.wrapper {
  width: 100%;
  min-width: 320px;
  padding: 25px 5%; }
  .wrapper--start {
    padding: 15px 5%; }

/* Font size set for awkwardly small screens; reset to intended font size once viewport is larger */
@media (min-width: 450px), (min-height: 800px) {
  body, p {
    font-size: 1.8rem; }
  h1, h2, h3, h4, h5, h6, legend {
    font-size: 2.6rem; } }

@media (min-width: 680px) {
  .wrapper {
    padding: 50px 10%; }
    .wrapper--start {
      padding: 30px 10%; } }

@media (min-width: 1280px) {
  .page-wrapper {
    margin: 0 auto;
    max-width: 1280px;
    -webkit-box-shadow: 5px 0 15px var(--section-shadow-color), -5px 0 15px var(--section-shadow-color);
    box-shadow: 5px 0 15px var(--section-shadow-color), -5px 0 15px var(--section-shadow-color); }
  .wrapper {
    margin: 0 auto;
    max-width: 1280px; } }

/* Section Banner Images */
.background {
  height: 30%;
  min-height: 100px;
  width: 100%;
  -webkit-box-shadow: 0 2px 2px white inset, 0 -2px 2px white inset;
  box-shadow: 0 2px 2px white inset, 0 -2px 2px white inset; }
  .background--start {
    background: url(../assets/start.jpg) center 30%/cover no-repeat; }
  .background--density {
    background: url(https://source.unsplash.com/random/1000x501) center/cover no-repeat;
    -webkit-box-shadow: 0 -2px 2px white inset;
    box-shadow: 0 -2px 2px white inset; }
  .background--climate {
    background: url(https://source.unsplash.com/random/1000x502) center/cover no-repeat; }
  .background--activity {
    background: url(https://source.unsplash.com/random/1000x503) center/cover no-repeat; }

/* /Section Banner Images */
.start-here {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  height: 100vh;
  min-height: 480px;
  color: white; }
  .start-here::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.3;
    opacity: 0.6;
    background: black; }

.start-text {
  position: relative;
  z-index: 9001;
  color: white; }
  .start-text--header {
    font-size: 3.6rem; }

.start-button {
  margin: auto 0 40px 0;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--link-color);
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s; }
  .start-button:hover {
    color: var(--link-hover-color);
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s; }

.disclaimer {
  font-size: 0.8rem;
  font-style: italic; }

/* Font size set for awkwardly small screens; reset to intended font size once viewport is larger */
@media (min-width: 450px), (min-height: 800px) {
  .start-text--header {
    font-size: 4.8rem; }
  .disclaimer {
    font-size: 1.2rem; } }

.questions section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  min-height: 480px;
  border: none;
  background: var(--section-bg-color); }

.question {
  width: 100%;
  padding: 0;
  font-size: 2.2rem; }

.answer-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  height: 75%;
  width: 100%;
  margin: auto 0; }
  .answer-set input {
    position: absolute;
    z-index: -9001;
    opacity: 0;
    height: 0;
    width: 0;
    border: 0; }
    .answer-set input:checked + label {
      color: var(--button-select-color);
      border: 1px solid var(--button-select-color);
      -webkit-transition: color 0.2s, border 0.2s;
      -o-transition: color 0.2s, border 0.2s;
      transition: color 0.2s, border 0.2s;
      /* Necessary to specify otherwise flex-wrap gets animated on resize and it looks ugly */ }
  .answer-set label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 5rem;
    position: relative;
    height: calc((100% - 60px) / 4);
    width: 100%;
    padding: 2%;
    text-align: center;
    cursor: pointer;
    border: 1px solid var(--button-color);
    border-radius: 5px;
    color: var(--button-color);
    -webkit-transition: color 0.2s, border 0.2s;
    -o-transition: color 0.2s, border 0.2s;
    transition: color 0.2s, border 0.2s;
    /* Necessary to specify otherwise flex-wrap gets animated on resize and it looks ugly */
    overflow: hidden; }
    .answer-set label span {
      position: relative;
      z-index: 2;
      font-size: 1.8rem; }
    .answer-set label.urban::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.3;
      background: url(../assets/urban.jpg) center 90%/cover no-repeat; }
    .answer-set label.suburban::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.3;
      background: url(../assets/suburban.jpg) center center/cover no-repeat; }
    .answer-set label.rural::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.3;
      background: url(../assets/rural.jpg) center 45%/cover no-repeat; }
    .answer-set label.indifferent-density::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.3;
      background: url(../assets/indifferent-density.jpg) center 45%/cover no-repeat; }
    .answer-set label.hot::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.3;
      background: url(../assets/hot.jpg) center center/cover no-repeat; }
    .answer-set label.varying::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.3;
      background: url(../assets/varying.jpg) center center/cover no-repeat; }
    .answer-set label.cold::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.3;
      background: url(../assets/cold.jpg) center 40%/cover no-repeat; }
    .answer-set label.indifferent-climate::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.3;
      background: url(../assets/indifferent-climate.jpg) center center/cover no-repeat; }
    .answer-set label:hover {
      color: var(--button-select-color);
      -webkit-transition: color 0.2s;
      -o-transition: color 0.2s;
      transition: color 0.2s;
      /* Necessary to specify otherwise flex-wrap gets animated on resize and it looks ugly */ }
      .answer-set label:hover::before {
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        -webkit-transition: -webkit-transform 0.5s;
        transition: -webkit-transform 0.5s;
        -o-transition: transform 0.5s;
        transition: transform 0.5s;
        transition: transform 0.5s, -webkit-transform 0.5s; }

@media (min-width: 450px), (min-height: 800px) {
  .question {
    font-size: 2.4rem; }
  .answer-set label span {
    font-size: 2rem; } }

@media (min-width: 680px) {
  .question {
    font-size: 2.6rem; }
  .answer-set label {
    height: calc((100% - 20px) / 2);
    width: calc((100% - 20px) / 2); }
    .answer-set label span {
      font-size: 2.2rem; } }

@media (min-width: 968px) {
  .question {
    font-size: 2.8rem; }
  .answer-set label span {
    font-size: 2.4rem; } }

.results {
  height: 100vh;
  min-height: 480px;
  background: var(--section-bg-color); }
